Repository mojisdev/mojis, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: adapters, pkg: internal-utils, pkg: parsers, pkg: cli, pkg: json-schemas

chore: improve schema script
  packages/json-schemas/scripts/write-json-schemas.ts
Labels: pkg: json-schemas

rework adapters
  packages/adapters/src/builder.ts
  packages/adapters/src/define.ts
  packages/adapters/src/handlers.ts
  packages/adapters/src/handlers/metadata.ts
  packages/adapters/src/handlers/sequence.ts
  packages/adapters/src/handlers/unicode-names.ts
  packages/adapters/src/handlers/variation.ts
  packages/adapters/src/types.ts
  packages/adapters/src/utils.ts
  packages/adapters/test/types.test-d.ts
  packages/adapters/test/utils.test.ts
Labels: pkg: adapters

chore: dump
  packages/adapters/src/builder.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

dump #3
  packages/adapters/src/builder.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

refactor: update parser and transform interfaces for improved type safety
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: enhance emoji metadata parsing with group and subgroup support
  packages/adapters/src/handlers/metadata.ts
Labels: pkg: adapters

feat: add unicode-names and variations handlers to support new emoji features
  packages/adapters/src/handlers/unicode-names.ts
  packages/adapters/src/handlers/variations.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: introduce aggregate function and sequences handler for emoji processing
  packages/adapters/src/handlers/sequences.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: add WrapContextFn type to enhance context handling in parser options
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: refactor adapter handler types and implement build method for handler construction
  packages/adapters/src/builder.ts
  packages/adapters/src/handlers/metadata.ts
  packages/adapters/src/handlers/sequences.ts
  packages/adapters/src/handlers/unicode-names.ts
  packages/adapters/src/handlers/variations.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

chore: cleanup
  packages/adapters/src/builder.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: refactor adapter handler types to use NormalizedVersionHandler and streamline runAdapterHandler implementation
  packages/adapters/src/builder.ts
  packages/adapters/src/handlers/index.ts
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: enhance adapter handler implementation with improved type safety and error handling in runAdapterHandler
  packages/adapters/src/builder.ts
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: implement handler registry for runAdapterHandler and extend version handler options with cache and fetch configurations
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

chore: cleanup
  packages/adapters/src/index.ts
Labels: pkg: adapters

feat: enhance type safety in adapter handlers by introducing _outputType and refining output function signatures
  packages/adapters/src/handlers/metadata.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

chore: format
  packages/adapters/src/types.ts
Labels: pkg: adapters

feat: allow setting fetch options & cache options
  packages/adapters/src/types.ts
Labels: pkg: adapters

chore: fix type issues
  packages/adapters/src/types.ts
Labels: pkg: adapters

dump
  packages/adapters/src/builder.ts
Labels: pkg: adapters

dump #2
  packages/adapters/src/builder.ts
  packages/adapters/src/index.ts
Labels: pkg: adapters

reorder
  packages/adapters/src/builder.ts
  packages/adapters/src/index.ts
  packages/cli/src/cmd/generate.ts
Labels: pkg: adapters, pkg: cli

try fix
  packages/adapters/src/builder.ts
Labels: pkg: adapters

refactor: enhance URL handling and type safety in adapter utilities
  packages/adapters/src/types.ts
  packages/adapters/src/utils.ts
  packages/adapters/test/utils.test.ts
  packages/cli/src/cmd/generate.ts
  vitest.config.ts
Labels: pkg: adapters, pkg: cli

chore: lint
  packages/adapters/src/index.ts
  packages/adapters/src/utils.ts
  packages/adapters/test/types.test-d.ts
  packages/adapters/test/utils.test.ts
Labels: pkg: adapters

dump
  packages/adapters/src/builder.ts
  packages/adapters/src/handlers/metadata.ts
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

chore: fix accidentally deleted code
  packages/adapters/src/types.ts
Labels: pkg: adapters

refactor: update version handler types for improved consistency and clarity
  packages/adapters/src/builder.ts
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

chore: lint
  packages/adapters/src/index.ts
Labels: pkg: adapters

feat: add zod validation and grouped emoji metadata support in adapters
  packages/adapters/package.json
  packages/adapters/src/builder.ts
  packages/adapters/src/handlers/metadata.ts
  packages/adapters/src/types.ts
  packages/internal-utils/src/schemas.ts
  packages/internal-utils/src/types.ts
  pnpm-lock.yaml
Labels: pkg: adapters, pkg: internal-utils

chore: add changeset
  .changeset/nice-apes-switch.md
Labels: none

chore: lint
  packages/adapters/src/handlers/metadata.ts
Labels: pkg: adapters

refactor: update version handler types and improve URL handling in adapters
  packages/adapters/src/handlers/metadata.ts
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

test: add tests for adapter handlers builder pattern
  packages/adapters/test/adapter-handler-builder.test.ts
Labels: pkg: adapters

test: add tests for version handler
  packages/adapters/test/version-handler-builder.test.ts
Labels: pkg: adapters

refactor: enhance version handler types with parser output and URL handling improvements
  packages/adapters/src/handlers/metadata.ts
  packages/adapters/src/types.ts
Labels: pkg: adapters

chore: lint
  packages/adapters/src/handlers/metadata.ts
Labels: pkg: adapters

refactor: optimize adapter handler execution with improved promise handling and data transformation
  packages/adapters/src/index.ts
Labels: pkg: adapters

refactor: streamline URL object handling by generating key from cacheKey if not provided
  packages/adapters/src/utils.ts
Labels: pkg: adapters

test: add validation tests for version handler builder using zod
  packages/adapters/test/version-handler-builder.test.ts
Labels: pkg: adapters

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: adapters":
  - changed-files:
      - any-glob-to-any-file: packages/adapters/**

"pkg: internal-utils":
  - changed-files:
      - any-glob-to-any-file: packages/internal-utils/**

"pkg: parsers":
  - changed-files:
      - any-glob-to-any-file: packages/parsers/**

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: json-schemas":
  - changed-files:
      - any-glob-to-any-file: packages/json-schemas/**
