Repository mojisdev/mojis, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: adapters, pkg: internal-utils, pkg: parsers, pkg: cli, pkg: json-schemas

test: implement comprehensive tests for runAdapterHandler functionality, covering error handling, version matching, and transformation logic
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

chore: lint
  packages/adapters/src/index.ts
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

test: enhance runAdapterHandler tests with improved mocking and new test utilities for better isolation and functionality
  packages/adapters/test/run.test.ts
  packages/adapters/test/test-utils.ts
Labels: pkg: adapters

fix: update output type handling in HandleVersionBuilder to support multiple URLs and improve robustness in output processing
  packages/adapters/src/types.ts
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

chore: add changeset
  .changeset/lovely-roses-remain.md
Labels: none

chore: fix typo
  .changeset/lovely-roses-remain.md
Labels: none

test: enhance runAdapterHandler tests by adding support for unicode-names handler with version predicate
  packages/adapters/test/test-utils.ts
Labels: pkg: adapters

chore: fix test by running with force
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

test: add tests for unicode names handlers
  packages/adapters/package.json
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
  packages/adapters/test/handlers/metadata.test.ts
  packages/adapters/test/handlers/unicode-names.test.ts
  packages/internal-utils/src/cache.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: adapters, pkg: internal-utils

refactor: convert msw paths to use alias
  packages/adapters/test/handlers/metadata.test.ts
  packages/adapters/test/handlers/unicode-names.test.ts
  packages/adapters/test/run.test.ts
  packages/internal-utils/test/cache.test.ts
  packages/internal-utils/test/versions.test.ts
  tsconfig.base.json
Labels: pkg: adapters, pkg: internal-utils

chore: fix tests
  test/msw-utils/msw.ts
  vitest.config.ts
Labels: none

chore: fix fetch mock path
  packages/adapters/test/handlers/unicode-names.test.ts
Labels: pkg: adapters

feat: run validation for handlers
  packages/adapters/src/index.ts
Labels: pkg: adapters

refactor: convert types to schemas
  packages/internal-utils/src/schemas.ts
  packages/internal-utils/src/types.ts
Labels: pkg: internal-utils

feat: add validation for handlers
  packages/adapters/src/handlers/sequences.ts
  packages/adapters/src/handlers/unicode-names.ts
  packages/adapters/src/handlers/variations.ts
Labels: pkg: adapters

test: add test for validation
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

test: add tests for verifying validation failure
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

chore: add changeset
  .changeset/salty-hornets-throw.md
Labels: none

chore: use adapter error
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

chore: lint
  packages/adapters/test/run.test.ts
Labels: pkg: adapters

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: adapters":
  - changed-files:
      - any-glob-to-any-file: packages/adapters/**

"pkg: internal-utils":
  - changed-files:
      - any-glob-to-any-file: packages/internal-utils/**

"pkg: parsers":
  - changed-files:
      - any-glob-to-any-file: packages/parsers/**

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: json-schemas":
  - changed-files:
      - any-glob-to-any-file: packages/json-schemas/**
